# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Foundry
out/
cache/
broadcast/

# node js
dist/
node_modules/

# Optional
.env
.env.local

# vs-code
*.code-workspace
